.card {
  margin: 15px;
  background-color: #212121;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;

  transition: 1s filter linear;
}
.header {
  font-size: 50px;
}

.center {
  text-align: center;
}
span {
  font-size: 40px;
}
.timepicker {
  border: 0;
  color: white;
}
.time {
  font-size: 35px;
}
Button {
  margin: 5px;
}
.whiteLine {
  border: 1px solid white;
  border-radius: 5px;
  width: 30%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  filter: blur(4px);
}

.refreshButton {
  position: absolute;
  right: 0%;
  font-family: Lucida Sans Unicode;
}
