<!DOCTYPE html>
<html lang="en">

<head>
  <title>Control page</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <script src="{{ url_for('static',filename='scripts/javascript.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="card-deck" style="margin: 15px">
    <div class="card bg-dark text-white">
      <div class="card-header">Alarm clock settings</div>
      <div class="card-body">
        Currently alarm is set to: <span class="timeIndicator" id="alarmTime">Loading...</span>
        <p>
          Remaining time: <span class="timeIndicator" id="remainingAlarmTime">10h 12m 33s</span>
        </p>
        <hr class="whiteLine">
        <img class="temperatureIcon" src="{{ url_for('static',filename='assets/temperature.png') }}"><span
          id="temperature">Loading...</span>
        <br>
        <img class="humidityIcon" src="{{ url_for('static',filename='assets/humidity.png') }}"><span
          id="humidity">Loading...</span>
        <br>

        Choose the alarm time here: <label>
          <input class="bg-dark" style="
                border: 0;
                color: white;
                " type="time" name="time" autocomplete="off" id="userDefinedAlarmTime" />
        </label>
        <p>
          <button class="btn btn-outline-primary" id="submitTime">Send time data</button>
        </p>
      </div>
    </div>

    <div class="card bg-dark text-white">
      <div class="card-header">Water Mixer settings</div>
      <div class="card-body">
        Currenty alarm is: <span id="waterMixerState">ON</span>
        <br />
        Remaining time:
        <br />
        <span id="waterMixerMinutes" class="timeIndicator">10 minutes</span>
        <span id="waterMixerSeconds" class="timeIndicator">29 seconds</span>
        <p>
          <br>
          <button class="btn btn-outline-primary" onclick="startTimer()">
            Start Timer
          </button>
        </p>
      </div>
    </div>
  </div>
</body>

</html>